/* styles.css */

/* General body styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #00547e; /* Background color */
}

/* Styling for h1 */
h1 {
    color: #0046af;
    font-family: 'Papyrus', sans-serif; /* Set font to Papyrus */
    font-weight: bold; /* Make the font bold */
}

/* Styling for other headers */
h2, h3, h4, h5, h6 {
    color: #0046af;
    font-family: 'Papyrus', sans-serif; /* Add your preferred font here */
}

/* Styling for buttons */
button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: rgba(255, 255, 255, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

/* Custom styles for Streamlit sidebar */
[data-testid="stSidebar"] {
    background-color: #00488838; /* Dark background for sidebar */
    color: white;
}

/* Styling for the sidebar */
[data-testid="stSidebar"] .css-1d391kg {
    padding-top: 50px; /* Adjust padding */
}

/* Styling the radio buttons */
[data-testid="stSidebar"] .css-1inwz65 {
    color: white;
}

/* Main content adjustments */
.main .block-container {
    padding-top: 1rem; /* Adjust top padding */
    padding-left: 2rem; /* Adjust left padding */
    padding-right: 2rem; /* Adjust right padding */
    padding-bottom: 2rem; /* Adjust bottom padding */
    background-color: #ffffff00; /* Background color for main content */
}
